.Search {
  max-width: 400px;
  margin-bottom: 20px;

}

.Search-input {
  color: #505050;
  background: #f2f2f2;
  padding: 10px15px;
  font-size: 18px;
  font-family: Arial;
  width: 100%;
  border-radius: 5px;
  border:none;
  outline: 0;
  transition: .2s;
  box-shadow: 2px2px5pxrgba(0,0,0,.2);
}

.Search-input:focus {
  box-shadow: 0010pxrgba(0,0,0,.5);
}